/* Styles for Intro part begins here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

body::-webkit-scrollbar{
    display: none;
}

nav {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 237, 237);
    position:fixed;
}

nav div a {
    color: black;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 120%;
    transition: 0.3s ease-out;
}

nav div a:hover{
    background-color:rgba(255, 228, 196, 0.258);
    box-shadow: 0 0 15px rgba(234, 182, 70, 0.8), 
                        0 0 30px rgba(200, 197, 197, 0.6),
                         0 0 40px rgba(255, 255, 255, 0.1), 
                        0 0 50px rgba(255, 255, 255, 0.2);
   font-size: 130%;
}

#content {
    width: 100%;
    background-color: rgb(29, 203, 145);
    color: white;
    margin-left:29vh;
}

.section {
    font-size: 120%;
    width: 70%;
    padding: 50px;
    height: 100vh;
}

#sec{
    width: max-content;
    text-wrap: nowrap;
}
#web {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    font-size: 160%;
    display: inline-block;
    animation: typing 3s ease-in-out alternate-reverse infinite;
    width: 0;
}

#profile{
    margin-top: 20px;
    border-radius: 50%;
    border: 3px;
    margin-left: 0px;
    box-shadow: 0 0 20px rgba(242, 185, 73, 0.947), 
                        0 0 30px rgba(71, 67, 67, 0.6), 
                        0 0 40px rgba(255, 255, 255, 0.4), 
                        0 0 50px rgba(255, 255, 255, 0.2);
    min-height: 80px;
    min-width: 50px;
    max-height: 190px;
    max-width: 160px;
}

#profile:hover {
    box-shadow: 0 0 20px rgba(233, 132, 132, 0.8), 
    0 0 30px rgba(71, 67, 67, 0.8), 
    0 0 40px rgba(255, 255, 255, 0.4), 
    0 0 50px rgba(255, 255, 255, 0.2);
    }

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#intro{
    font-size: 160%; ;
}
/* Styles for intro part ends here.


/* Styles for the Education Part begins here */
.slider{
  width: 1100px;
  max-width: 100vw;
  height: 80vh;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.slider .list{
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  width: 1100px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
@media screen and (max-width: 768px){
  .slider{
      height: 400px;
  }
}